/**
  All hyperlinks change color from red->cyan
  a: rgb(255,10,19); rgb(0,200,200);
  p: rgb(220,200,250);
*/
a { text-decoration: none; color:rgb(2,194,121); }
a:visited { text-decoration: none; color:rgb(2,194,121); }
a:focus { text-decoration: none; color:rgb(2,194,121); }
a:hover { text-decoration: none; color:#000; }
a:hover, .navBtn:active { text-decoration: none; color:rgb(0,200,200); }
body { color: rgb(220,200,250) }
/* *, *:before, *:after {
  box-sizing: inherit;
} */
html {
  height: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
}
.flex-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.bar {
  display: flex;
  width: 100%;
  background: #222;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pages {
  flex: 1 0 auto;
  text-align: center;
} 
.nav {
  padding: 2%;
}
.title {
  order: 1;
  text-align: center;
}
.header{
  order: 2;
  text-align: center;
}
.flex-content{
  order: 3;
  flex: 3 1 auto;
  text-align: center;
}
#blogposts{
  display: block;
  margin-right: auto;
  width: 100%;
}
.blogpost{
  width: 90%;
  max-width: 700px;
}
.announcements{
  text-align: center;
}
.hire-me-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ffc107;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateZ(0);
  transition: all 0.3s ease-out;
}

.hire-me-button a {
  text-decoration: none;
  color: #000;
}

.hire-me-button a:visited {
  text-decoration: none;
  color: #000;
}

.hire-me-button:hover {
  background-color: #ffeb3b;
  transform: translateZ(2px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}
